* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: whitesmoke;
}

input {
    background-color: transparent;
    outline: none;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: 1px dotted gray;
    width: 80%;
    padding: 5px;
}

input::placeholder {
    background-color: transparent;
    color: rgba(216, 216, 216, 0.475);
    font-size: 18px;
}

button {
    background-color: rgba(255, 255, 255, 0.459);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px gray dashed;
    transition: 0.2s ease-in-out;

}

button:hover {
    background-color: rgba(255, 255, 255, 0.746);
    color: black;
}

img {
    width: 125px;
    height: 125px;
    padding: 10px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.056), rgba(109, 109, 109, 0.302));
    border-radius: 50%;
}

li{
    list-style-type: none;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to right, #030408, #020633);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #f5f5f529, #a2a2a252);
    column-gap: 100px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px rgb(140, 140, 140);
}

.box-title {
    margin: auto;
}

.box-tools {
    width: 60vw;
    margin-left: auto;
}



.weather-info {
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    background: linear-gradient(45deg, #3636361c, #f5f5f50e);
    box-shadow: 0 0 10px 1px rgba(140, 140, 140, 0.382);
    justify-content: center;
    align-items: center;
}

.today,
.next-days,
.primary-info,
.secondary-info,
.five-hours,
.detail,
.weather-icon,
.parameter,
.next-hours{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.today {
    width: 60%;
    height: 100%;
    border-right: 1px solid rgba(128, 128, 128, 0.13);
    flex-direction: column;
}

.next-hours {
    width: 40%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    color: gray;
    position: relative;
}

.primary-info , .detail{
    justify-content: space-between;
    width: 95%;
    height: 40%;
    box-shadow: 0 0 20px 0px rgba(169, 169, 169, 0.115);
    border-radius: 100px;
    corner-shape:squircle;
    margin: 10px;
    transition: 0.3s ease;
}

.primary-info > div {
    margin: 0 30px;
}

.primary-info:hover{
    box-shadow: 0 0 20px 0px rgba(169, 169, 169, 0.271);

}

.city{
    letter-spacing: 10px;
}

.weather-icon {
    flex-direction: column;
    width: 25%;
}

.weather-icon p{
    margin-bottom: 10px;
    background-color: rgba(0, 21, 106, 0.669);
    padding: 2px;
    text-align: center;
    color: rgb(179, 201, 255);
    border-radius: 10px;
    width: 200px;
}

.secondary-info{
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0 30px;
    width: 95%;
    height: 100px;
    padding: 10px;
}
.temp{
    font-size: 60px;
}
.degree , .feels-like , .humidity{
    color: gray;
    opacity: 0.7;
}

.detail{
    box-shadow: none;
}

.parameter{
    width: 33.3%;
    height: 100px;
    margin: 10px;
    corner-shape:squircle;
    border-radius: 100px;
    box-shadow: 0 0 20px 0px rgba(169, 169, 169, 0.115);
    flex-direction: column;
    row-gap: 20px;
    color: white;
    transition: 0.3s ease;
}

.parameter:hover{
    box-shadow: 0 0 20px 0px rgba(169, 169, 169, 0.271);

}

.wind-title,
.max-title,
.level-title {
    color: gray;
    text-align: center;
    padding: 10px;
}

.forecast{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 40px;
    overflow: auto;
}

.forecast-item{
    width: 100%;
    height: 100px;
    box-shadow: 0 0 20px 0px rgba(169, 169, 169, 0.115);
    corner-shape:squircle;
    border-radius: 100px;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease;
}
.forecast-item:hover{
    box-shadow: 0 0 20px 0px rgba(59, 82, 255, 0.467);

}

.fc-temp{
    font-size: 32px ;
    font-weight: 600;
    color: white;
}

.month,
.week-day {
    color: gray;
}

.month-day {
    color: white;
}



.weather-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-temp h2 {
    color: white;
    margin: 10px;
}

.weather-temp p {
    color: yellow;
}

.weather-desc h3 {
    color: gray;
}

@media screen and (width <= 568px){
    h1{
        font-size:14px;
        transform:translateX(40px)
    }

    img{
        width:80px;
        height:80px;
        transform:translateY(-8px);
    }

    input{
        width:60%;
    }

    .container{
        height:100%;
        gap:10px;
    }

   .box-title{
    width:30%;
   }

   .box-tools{
    width :100%;
   }

   .weather-info{
    display:flex;
    flex-direction:column;
    overflow:hidden;
   }

   .today{
    /* height:60%; */
    border:none;
   }

   .primary-info{
    width:85vw;
   }

   .city{
    font-size:22px;
    transform:translateX(0px);
   }

   .detail{
    width:90vw;
   }

   .forecast{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    width:100vw;
    height:100px;
   }

   .forecast-item{
    width:70%;
    margin-left:40px;
   }
}